# bundle
node_modules
.pnp
.pnp.js

# next
.vercel
.next
out

# output
build
coverage
# src/types
# src/**/types

# declaration
**/*.d.ts

# specific File
**/*. js
src/components/Base/Text.tsx

# public
public/**/*. js

# translation
src/locale/**/*.json
